/*================= Fonts =================*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/*================= Fonts =================*/

body {
   font-family: "Lato", sans-serif;
   background-color: #eee;
   color: #000;
}

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: hidden;
}

.page__text {
   padding: 10px;
}
.text {}
.text > *:not(:last-child) {
   margin-bottom: 10px;
}
.text__title {
   font-size: 40px;
   font-weight: 900;
   animation: show-text 1s ease 0s 1 forwards;
   opacity: 0;
}
.text__subtitle {
   font-size: 24px;
   font-weight: 700;
   animation: show-text 1s ease .3s 1 forwards;
   opacity: 0;
}
.text__description {
   font-size: 18px;
   line-height: 1.2;
   opacity: 0;
   animation: show-text 1s ease .5s 1 forwards;
}

@keyframes show-text {
   0% {
      transform: translate(0px, 50%);
   }
   100% {
      transform: translate(0px, 0%);
      opacity: 1;
   }
}

.text-second {}
.text-second__title {
   transform: translate(-50%, 0);
   animation: show-text-left 1s ease 1s 1 forwards;
}
.text-second__subtitle {
   transform: translate(-50%, 0);
   animation: show-text-left 1s ease 1.3s 1 forwards;
}
.text-second__description {
   transform: translate(-50%, 0);
   animation: show-text-left 1s ease 2s 1 forwards;
}

@keyframes show-text-left {
   0% {
   }
   100%{
      transform: translate(0%, 0);
      opacity: 1;
   }
}

.page__room {}
.room {
   max-width: 1300px;
   height: 700px;
   margin: 0px auto;
   position: relative;
   background: url('../img/room.jpg') 0 0 / cover no-repeat;
}
.room__family {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   bottom: 0px;
   background: url('../img/family.png') 0 0 / cover no-repeat;
   width: 500px;
   height: 300px;
}
.room__television {
   position: absolute;
   top: 30%;
   left: 70%;
   transform: translate(-70%, -30%);
   background: url('../img/tv_PNG39261.png') 0 0 / cover no-repeat;
   width: 350px;
   height: 207px;
   overflow: hidden;
}
.room__television::before {
   content: "Samsung";
   position: absolute;
   top: 4.5%;
   left: 3%;
   width: 95%;
   height: 92%;
   background-color: rgb(0, 0, 0);
   color: #fff;
   text-align: center;
   line-height: 190px;
   opacity: 1;
   animation: turning-on 1s ease 3s 1 forwards, turning-of 1s ease 53s forwards;
   z-index: 2;
   letter-spacing: 1.3px;
}
.room__television video{
   position: absolute;
   top: 5%;
   left: 3%;
   width: 95%;
   height: 90%;
   overflow: hidden;
}
.room__television img {
   position: absolute;
   bottom: 5%;
   left: 0;
   width: 106px;
   height: 93px;
   transform: translate(400%, 0);
}
.room__television img:nth-of-type(1) {
   animation: reporter 12s ease-in-out 5s alternate 2 forwards;
}
.room__television img:nth-of-type(2) {
   animation: reporter 12s ease-in-out 28s alternate 2 forwards;
}
@keyframes turning-on {
   0% {}
   100% {
      transform: rotateX(90deg);
   }
}
@keyframes turning-of {
   0% {}
   100% {
      transform: rotateX(0deg);
   }
}
@keyframes reporter {
   0% {
      transform: translate(350%, 0%);
   }
   20% {
      transform: translate(200%, 0%);
   }
   50% {
      transform: translate(200%, 0%);
   }
   70% {
      transform: translate(200%, 0%);
   }
   75% {
      transform: translate(100%, 0%);
   }
   80% {
      transform: translate(100%, 0%);
   }
   85% {
      transform: translate(100%, 0%);
   }
   100% {
      transform: translate(100%, 0%);
   }
}